body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;/*f5f5f5*/
}
.habitaciones{
    text-align: center;
}
header{
    background-color: #1A1A1A;
}

h1, h2, h3, p {
    text-align: center;
}
h1 {
    color: #1A1A1A;
}
h2 {
    margin-top: 30px;
    color: #1A1A1A;
}
h3{
    margin-top: 30px;
    color: #1A1A1A;
}
img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
    border: 2px solid #1A1A1A;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}
img:hover {
    transform: scale(1.1);
}
p {
    color: #777;
}
.verMas{
        padding: 15px 20px;
        background-color: skyblue;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        margin-top: 20px;
        text-align: center;
        transition: background-color 0.3s ease;
        font-size: 16px;
    
}

.busqueda{
    display: flex;
    justify-content: center;
    align-items: center;

}
.busqueda,label{
    padding: 15px;
    background-color: skyblue;
    color: white;
}

.buscar{
    margin-left: 20px;
}

input[type="date"],
input[type="number"]{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  footer{
    background-color:skyblue;
    text-align: center;
    color: white;
    padding: 20px;
  }